{% extends "base.html" %}

{%block content%} 


<h1 class='text-center'>Hello, world!</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{message.tags}}" role="alert"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p class='text-center'><a class='text-warning'  style='text-decoration:wavy;' href="{%url 'new_etudiant'%}" >ajouter un nouveau etudiant </a></p>
<p class='text-center'><a class='text-warning'  style='text-decoration:wavy;' href="{%url 'receive_rfid_data'%}" >ajouter le uid ou empreinte a un etudiant existant</a></p>
{%endblock content%} 


  