{% extends "base.html" %}

{%block content%} 
{% if check%}
    <label>Deja pris</label> <br>
    {% endif%} 
   {%if uid %}
    <div><label for="uidInput">UID RFID:</label>
    <input type="text" id="uidInput" name="uid" value="{{uid}}" readonly >  <!-- Input avec l'ID "uidInput" -->
 </div>
 <div>
    {% if check%}
    <p>Votre nom :{{test.name}} </p>
    <p>Votre UID :{{test.uid}} </p>
 {% else%}
 <a href=" {% url 'new_etudiant'  uid %}"> ajouter vos infos</a>
 {% endif%} 
 </div>
    {% endif%}
    <button type="button" onclick="refreshPage()">obtenir uid de la carte</button>  <!-- Bouton de rafraîchissement -->
    {% comment %} <a href=" {% url 'new_etudiant' %}"></a> {% endcomment %}

<script>
    function refreshPage() {
        location.reload();  // Recharger la page
    }
</script>
{%endblock content%} 
